@media (max-width: 600px) {
    .navbar-collapse{
        background: rgba(0, 0, 0, 0.6);
    }
   
}    
div{
      font-family: 'lato', arial;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #555;
}

::-webkit-scrollbar-thumb {
    background-color: #fff;
}
body{
    /*background: currentColor;*/
    overflow-x: hidden;
    box-sizing: border-box;
   
}
#mynav{
    min-height: 60px;
    margin-bottom: 10px;

}
 @font-face {
    font-family: "BEBAS";
    src: url("../font/BEBAS.ttf");
}


.navbar{
    margin-bottom: 0;
    border-radius: 0;
    font-size: 1.15em;
    background: transparent;
    min-height: 90px;
    padding-top: 20px;
    color: white;
    text-transform: uppercase;

}
.img-high-3{
height: 200px;
width: 200px;
}
.img-high{
    
    width: 160px;
    height: auto;
    height: 180px;
}
.box{box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.75);
}
.padding-high{
    padding-top: 10px;
}
.nav-small{
    background: black;
    min-height: 0;
    max-height: 65px;
    padding-top: 5px;
    box-shadow: -3px -1px 3px 0px black;
    font-size: 1em;
}

#home{
    background-image:  url('../images/header.jpg') ;
    
    background-color: #00000082;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    color: white;
    min-height: 768px;
}
.back-high{
   
     background-size:100%;
      -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
              
                background-size: 100% 100%;
  background: 
     
    linear-gradient(
      rgba(0, 47, 75, 0.9), 
      rgba(220, 66, 37, 0.9)
    ),
    
    url("../images/high-back.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

}

#highlights{
    
}

section{

    min-height: 400px;
}
.navbar-toggle .icon-bar{
    background: white;
}
.register{
    float: none;
    margin:0 auto;
}
#register{
    margin-bottom: 40px;
}
#register-form input{
    display: block;
    margin: 20px;
    padding: 10px;
    min-width: 300px;
    background: rgba(242, 242, 245, 0.57);
    border:0;
    border-bottom: 1px solid black;
    transition: all 0.3s;
    color: black;
    font-size: 15px;
    margin-left: 0;
}
#register-form input:focus{
    
    outline-color: rgba(242, 242, 245, 0.57);
    outline-style: none;
    
}
#register-form button{
    text-align: center;
    margin: 10px auto;
    min-width: 100px;
    border-radius: 5px;
    background: rgba(242, 242, 245, 0.57);
    border: 1px solid black;
    color: black;
    min-height: 30px;
}
#contact-info{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
.head{
    font-size: 50px;
    font-family: 'BEBAS', arial;
}
.head-3{

    font-size: 24px;
}
.head-4{

    font-size: 22px;
}
.data{
    font-size: 17px;
}
.date{
    margin-top: -5px;
    font-size: 30px;
    font-weight: 500;
    font-family: 'BEBAS', arial;
}
.margin-bottom-20{
    margin-bottom: 20px;
}
.schedule-nav{
    margin-top: 30px;
}
.time-table-item{
    padding: 10px;
    margin: 10px;
}
.social{
    margin: 10px;
    padding: 10px;
    width: 40px;
    height: 40px;
}
.social:hover{
    transform: scale(1.1);
}
#about{
    margin-top: 0;
    background: rgba(228, 228, 228, 0.55);
}
#FAQ{
    margin-top: 0;
    background: rgba(228, 228, 228, 0.55);
}
.logo{
    height: 30px;
    width: 40px;
}
h2{
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 35px;
}
.paper{
    box-shadow: 0 10px 6px -6px #777;
    background: white;
}
.about-text{
    min-height: 500px;
    line-height: 2;
    margin-bottom: 50px;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: black;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
.footer p{
    color: #fff;
}
.footer h3 {
    color: #ddd;
}
.footer a {
    color: #eee;
}
.footer a:hover {
    color: #fff;
}
#schedule{
  /*  background: #5472ef;*/
   background: linear-gradient(to right,#5C258D,#4389A2); 
    color: white;
}
#schedule li{
    background: rgba(245,245,245,0.3);
}
#schedule a{
    color: white;
    font-size: 18px;
}
#schedule li a:hover{
   background: rgba(245,245,245,0.6);
    color: black;
}
#schedule li.active a{
    color: black;
} 
#schedule h3{}
#register{
    background:rgba(242, 242, 245, 0.57);
}
#contact{
    margin-top: -30px;
     background:rgba(242, 242, 245, 0.57);
}
#sponsors{

}
.image-sponsors{

-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.image-sponsors:hover {
   -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
   
}
.margin-bottom{
    margin-bottom: 50px;
}

@media (max-width: 600px) {
    .head{
       font-size: 21px;
    }
    .margin-bottom{
    margin-bottom: 0;
}
    .date{
        font-size: 18px;
    }
    .head-3{

    font-size: 17px;
    margin-top: -5px;
}
.nav-small{
    height: 70px;
}
  .head-4{

    font-size: 16px;
    margin-top: -10px;
    margin-bottom: -5px;
}
.data{
    font-size: 13px;
}
.image-sponsors{

padding: 10%;
}
   
} 
